/.bsp
/.metals
/.scala-build
/.vscode
/Clase10.scala
/Clase3.scala
/Clase4.scala
/Clase4Ej.scala
/Clase4Tarea.scala
/Clase5.scala
/Clase5PasoPorNombre.scala
/Clase5PreguntaExamen.scala
/Clase6.scala
/Clase7-Digitos.scala
/Clase7-Strings.scala
/Clase8.scala
/Clase9.scala
/HolaMundo.scala